<p-toast preventOpenDuplicates="true"></p-toast>
<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <!-- <button pButton pRipple label="Nuevo Empleado" icon="pi pi-plus" class="p-button-success mr-2" ></button> -->
          </div>
        </ng-template>

      </p-toolbar>

      <p-table #dt [value]="empleados" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" responsiveLayout="scroll" [(selection)]="selectedEmpleados" selectionMode="multiple" [dataKey]="'id'">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gestión de Empleados</h5>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="cedula">Cédula <p-sortIcon field="cedula"></p-sortIcon></th>
            <th pSortableColumn="correo">Correo <p-sortIcon field="correo"></p-sortIcon></th>
            <th pSortableColumn="tandaLabor" >Tanda Labor <p-sortIcon field="tandaLabor"></p-sortIcon></th>
            <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
            <th pSortableColumn="role">Rol <p-sortIcon field="role"></p-sortIcon></th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-empleado>
          <tr>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.cedula }}</td>
            <td>{{ empleado.correo }}</td>
            <td>{{ empleado.tandaLabor }}</td>
            <td><p-tag [value]="empleado.estado ==='activo' ? 'Activo' : 'Inactivo'" 
              [severity]="empleado.estado === 'activo' ? 'success' : 'danger'"></p-tag></td>
            <td>{{ empleado.role  === 'admin' ? 'Administrador' : empleado.role ==='empleado' ? 'Empleado' : 'Pendiente'}}</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editEmpleado(empleado)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEmpleado(empleado.id)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="displayDialog" [style]="{width: '450px'}" header="Detalles del Empleado" [modal]="true" [closable]="false" [dismissableMask]="true" class="p-fluid">
      <form [formGroup]="empleadoForm">
        <div class="field">
          <label for="nombre">Nombre</label>
          <input type="text" formControlName="nombre" pInputText id="nombre" required autofocus />
          <div *ngIf="empleadoForm.get('nombre')?.invalid && empleadoForm.get('nombre')?.touched" class="text-red-600 text-sm mt-1">Nombre es requerido</div>
        </div>
        <div class="field">
          <label for="cedula">Cédula</label>
          <input type="text" formControlName="cedula" pInputText id="cedula" required />
          <div *ngIf="empleadoForm.get('cedula')?.invalid && empleadoForm.get('cedula')?.touched" class="text-red-600 text-sm mt-1">Cédula es requerida</div>
        </div>
        <div class="field">
          <label for="correo">Correo</label>
          <input type="email" formControlName="correo" pInputText id="correo" required />
          <div *ngIf="empleadoForm.get('correo')?.invalid && empleadoForm.get('correo')?.touched" class="text-red-600 text-sm mt-1">Correo es requerido</div>
        </div>

        <div class="field">
          <label for="tandaLabor">Tanda Labor</label>
          <p-dropdown [options]="tandaLabor" formControlName="tandaLabor" optionLabel="label" optionValue="value" placeholder="Seleccionar Tanda Labor"></p-dropdown>
          <div *ngIf="empleadoForm.get('tandaLabor')?.invalid && empleadoForm.get('tandaLabor')?.touched" class="text-red-600 text-sm mt-1">Tanda Labor es requerida</div>
        </div>
        <div class="field">
          <label for="porcentajeComision">Porcentaje Comisión</label>
          <input type="number" formControlName="porcentajeComision" pInputText id="porcentajeComision" required />
          <div *ngIf="empleadoForm.get('porcentajeComision')?.invalid && empleadoForm.get('porcentajeComision')?.touched" class="text-red-600 text-sm mt-1">Porcentaje Comisión es requerido</div>
        </div>
        <div class="field">
          <label for="estado">Estado</label>
          <p-dropdown [options]="estados" formControlName="estado" optionLabel="label" optionValue="value" placeholder="Seleccionar Estado"></p-dropdown>
          <div *ngIf="empleadoForm.get('estado')?.invalid && empleadoForm.get('estado')?.touched" class="text-red-600 text-sm mt-1">Estado es requerido</div>
        </div>
        <div class="field">
          <label for="role">Rol</label>
          <p-dropdown [options]="rol" formControlName="role" optionLabel="label" optionValue="value" placeholder="Seleccionar el rol"></p-dropdown>
          <div *ngIf="empleadoForm.get('role')?.invalid && empleadoForm.get('role')?.touched" class="text-red-600 text-sm mt-1">Rol es requerido</div>
        </div>
        <div class="field">
          <label for="fechaIngreso">Fecha Ingreso</label>
          <input type="date" formControlName="fechaIngreso" pInputText id="fechaIngreso" required />
          <div *ngIf="empleadoForm.get('fechaIngreso')?.invalid && empleadoForm.get('fechaIngreso')?.touched" class="text-red-600 text-sm mt-1">Fecha Ingreso es requerida</div>
        </div>

      </form>
      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveEmpleado()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
